# Pliki i katalogi dla Pythona
**/__pycache__/
**/*.pyc
**/*.pyo
**/.venv/

# Pliki i katalogi dla C++
**/*.o
**/*.obj
**/*.exe
**/*.so

# Pliki i katalogi dla Javy
**/*.class
**/*.jar
**/build/

# Pliki ogólne dla różnych IDE
**/.vscode/
**/.idea/

# Pliki systemowe
.DS_Store

**/polecenia/
